.Timer {
  h3 {
    margin: 0;
  }

  &__explanation {
    padding-left: 20px;
  }

  &__actions {
    text-align: center;
    margin-top: 25px;

    button {
      margin: 0 5px;
    }
  }

  &__value {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
  }
}
