.Tasks {
  h3 {
    margin-top: 0;
  }

  ul, ol {
    list-style: none;
    padding: 0;

    li {
      color: #444444;
      background: #eeeeee;
      border-left: 3px solid #4a84ba;
      padding: 3px 7px;
      margin: 3px 0;
    }
  }
}
