.RandomNumber {
  text-align: center;

  &--explanation {
    padding-top: 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70px;
    height: 45px;
    margin: 15px auto;
    font-size: 20px;
    color: #135690;
    padding: 8px;
    border: 2px solid #5392c9;
    border-radius: 3px;
    background-color: #abd4f8;
  }
}
