.LastClick {
  &__buttons {
    margin-top: 25px;
    text-align: center;

    button {
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
      padding: 5px 20px;
      margin: 0 5px;
      outline: none;
    }

  }

  &__box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70px;
    height: 45px;
    margin: 15px auto;
    font-size: 20px;
    color: #4b5155;
    padding: 8px;
    border: 2px solid #cccccc;
    border-radius: 3px;
    background-color: #eeeeee;
  }
}
